@use './colours' as c;

@mixin p {
    font-size: 24px;
    font-weight: 100;
    line-height: 160%;
    margin: 1rem 0;

    @media screen and (max-width:850px) {
        margin: 1rem auto;
        font-size: 18px;
        line-height: 140%;
        width: 100%;
    }
}

@mixin h2{
    font-weight: bold;
    font-size: 46px;
    line-height: 55px;
    color: #000000;

    @media screen and (min-width:800px) and (max-width:1080px) {
        line-height: 40px;
        font-size: 2.8rem;
        width: 100%;
    }

    @media screen and (max-width:800px) {
        line-height: 40px;
        font-size: 36px;
        width: 100%;
    }
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 5%;

    @media screen and (max-width:800px) {
        text-align: center;
        flex-wrap: wrap-reverse;
    }
}

.hero-image{
    img{
        @media screen and (min-width:800px) and (max-width:1080px) {
            width: 100%;
            height: 100%;
        }

        @media screen and (max-width:800px) {
            width: 320px;
            height: 415px;
        }
    }
}

.hero-content{
    width: 50%;
    margin-bottom: 14rem;

    @media screen and (max-width:1000px) {
        width: 100%;
        margin-bottom: 4rem;
     }

    .hero-title{
        font-style: normal;
        font-weight: bold;
        font-size: 4rem;
        line-height: 120%;

        @media screen and (min-width:800px) and (max-width:1000px) {
            font-size: 2.8rem;
        }

        @media screen and (max-width:800px) {
           font-size: 36px;
        }

    }

    .hero-info{
        width: 80%;
        @include p;
    }

    .hero-ctas{
        .learn-more{
            background-color: #fff;
            color: c.$color;
        }
    }
}

.hero-ctas .btn, .register-today{
    width: auto;
    height: 44px;
    padding: 0 1.5rem;
    margin: 3rem 1rem 0 0;

    @media screen and (max-width:1080px) {
        margin: 0 auto;
        margin: 5px;
    }

}



.credibility-content{
    display: flex;
    align-items: center;

    @media screen and (max-width:1080px) {
        flex-wrap: wrap;
        justify-content: center;
    }

    .app-screen{
        margin-top: -15rem;
        margin-left: -1rem;

        @media screen and (max-width:1080px) {
            margin-top: -3rem;
        }

        @media  screen and (max-width:600px) {
            width: 314px;
            height: 480px;
        }

    }

    .credible-info{
        margin-left: 4rem;

        @media screen and (max-width:1100px) {
            margin-left: 0;
        }

        @media  screen and (max-width:1000px) {
            text-align: center;
        }

        #credible-header{
            width: 400px;
            @include h2;
        }
    
        #credible-desc{
            @include p;
        }
    }
}

.stats{
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 3rem;

    @media  screen and (max-width:600px) {
        margin-top: 0;
        text-align: center;
    }
    
    .user-profiles{
        display: grid;
        grid-template-columns: repeat(4, 30px);
        direction: rtl;
        position: absolute;
        left: 24px;

        @media  screen and (max-width:1000px) {
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        .profiles{
            width: 52px;
            height: 52px;
        }
    }

    p{
        margin-left: 156px;
        font-weight: bold;

        @media  screen and (max-width:1000px) {
            margin: 0 auto;
            margin-top: 6rem;
            
        }
    }
}

.register-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem 4rem;

    @media screen and (max-width:1080px) {
        flex-wrap: wrap;
    }

    .register-info{
        @media screen and (min-width:601px) {
            margin-top: 4rem;
        }

        @media  screen and (max-width:1000px) {
            margin-top: 3rem;
            text-align: center;
            
        }

        #register-header{
            width: 500px;
            @include h2;
            
        }

        #register-desc{
            width: 500px;            
            @include p;

            @media screen and (min-width:800px) and (max-width:1080px) {
                width: 100%;
            }
        }
    }
}

.register-img, .cta-img{
    img{
        @media screen and (min-width:800px) and (max-width:1080px) {
            width: 100%;
            height: 100%;
            margin: 0 auto;
        }

        @media screen and (max-width:800px) {
            width: 320px;
            height: 415px;
        }
    }
}

.review-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;

    .review-header{
        @include h2;
    }

    .review-desc{
        width: 600px;
        @include p;
        span{
            font-weight: 500;
        }
    }

    .review-cards{
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;

        .review-card{
            width: 330px;
            height: 330px;
            margin-top: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 0.75rem;
            box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.12);
            border-radius: 10px;
            text-align: center;
            padding: 1rem;

            @media screen and (max-width:600px) {
                width: 280px;
                height: 280px;
                gap: 0.25rem;
            }


            .user{
                width: 80px;
                height: 80px;
            }
        }

        .btn{
            margin-top: 1rem;
            width: 9rem;
            height: 48px;
        }
    }
}

.cta-content{
    background-color: c.$color;
    color: #fff;
    padding: 0 4rem;
    margin: 0 -4rem;
    margin-top: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;

    @media screen and (max-width:900px) {
        margin: 0;
        margin-top: 3rem;  
        padding: 8rem 1rem;
    }

    .cta-info{
        @media screen and (max-width:900px) {
            position: absolute;
            padding: 4rem 1rem;
            text-align: center;
            width: 100vw;
            background-color: c.$color;
        }
    }
}


.cta-img{
    margin-top: -9rem;

    img{
        @media screen and (max-width:900px) {
            display: none;
        }
    }
}

#cta-header{
    @include h2;
    color: #fff;
}

#cta-desc{
    width: 480px;
    @include p;
    margin-bottom: 32px;
}

.cta-today{
    background-color: #fff;
    color: c.$color;
    border: 1px solid #fff;
    height: 44px;
    padding: 0 2rem;
    width: auto;
}

