@use  './styles/fonts' as f;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Rubik, sans-serif;
}

img{
    width: auto;
    height: auto;
}

.app{
    padding: 1rem 4rem 0 4rem;
    @media screen and (max-width:600px) {
        padding: 1rem;
        padding-bottom: 0;
    }
}

ul, li{
    padding: 0;
    list-style-type: none;
}